* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.container {
  width: 1000px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 50px;
}
li {
  list-style: none;
}
.block_two {
  padding-bottom: 20px;
}
